header {
  width: 100%;
  top: 0;
}
header nav {
  width: 100%;
  background: #9ca6a5;
  position: fixed;
  z-index: 1;
}
.burguerbtn {
  display: none;
}
.logo-link-r img {
  width: 100px;
  float: left;
  padding: 13px 30px 0px 15px;
}
header nav ul {
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  color: #fff;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}
header nav ul li i {
  margin-right: 10px;
}
header nav ul li a:hover {
  background: #83e0d3;
}
.active {
  background: #83e0d3;
}
header nav ul {
  float: right;
}
@media only screen and (max-width: 768px) {
  header nav {
    width: 50%;
    height: 100%;
    position: fixed;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    left: -100%;
    margin-top: 72px;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  header nav ul {
    float: none;
  }
  .logo-link-r {
    display: none;
  }
  .list-menu {
    padding-left: 0;
  }
  .burguerbtn {
    display: block;
    width: 100%;
    background: #9ca6a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }
  .burguerbtn .fa-bars {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 2em;
  }
  .logo-link img {
    width: 100px;
    padding: 8px 0 0 10px;
  }
}
* {
  margin: 0;
  border: 0;
}
.header {
  background-color: #00f;
  height: 90vh;
}
.test {
  padding-top: 250px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  font-size: 2em;
}
#about {
  background-color: #adadad;
  height: 100vh;
  width: 100%;
}
#services {
  background: #adadad;
  height: 100vh;
  width: 100%;
}
#portafolio {
  background-color: #5780a4;
  height: 100vh;
  width: 100%;
}
#contact {
  background-color: #9a2d2d;
  height: 100vh;
  width: 100%;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.develop {
  font-size: 12px;
}
.develop a {
  color: #8a8a8a;
  text-decoration: none;
}
