* {
  margin: 0;
  border: 0;
}
body {
  font-size: 16px;
  font-family: 'roboto';
  background-color: #f2f2f2;
}
header {
  width: 100%;
  top: 0;
}
header nav {
  width: 100%;
  background: #55b6ba;
  position: fixed;
  z-index: 1;
}
.menu {
  height: 80px !important;
}
.burguerbtn {
  display: none;
}
.logo-link-r img {
  width: 100px;
  float: left;
  padding: 13px 30px 0px 15px;
}
header nav ul {
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  color: #fff;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}
header nav ul li i {
  margin-right: 10px;
}
header nav ul li a:hover {
  background: #309ca1;
}
.active {
  background: #309ca1;
}
header nav ul {
  float: right;
}
@media only screen and (max-width: 1000px) {
  header nav {
    width: 50%;
    height: 100%;
    position: fixed;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    left: -100%;
    margin-top: 72px;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  header nav ul {
    float: none;
    background: #55b6ba;
  }
  .logo-link-r {
    display: none;
  }
  .list-menu {
    padding-left: 0;
  }
  .burguerbtn {
    display: block;
    width: 100%;
    background: #55b6ba;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }
  .burguerbtn .fa-bars {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 2em;
  }
  .logo-link img {
    width: 100px;
    padding: 8px 0 0 10px;
  }
}
.header {
  width: 100%;
  height: 100%;
  background: #015e62;
  text-align: center;
}
.imgCover {
  margin-top: 100px;
  width: 80%;
}
.txtCover {
  text-align: center;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main {
  margin: auto;
  width: 100%;
  max-width: 1140px;
}
.container {
  padding-top: 90px;
  padding-bottom: 90px;
}
.titulo-section {
  text-transform: uppercase;
  font-size: 2em;
  padding-bottom: 25px;
}
.desC {
  width: 95%;
  margin: auto;
}
.text-justify {
  text-align: justify;
  line-height: 25px;
}
.text-center {
  text-align: center;
}
.Item-Nous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iconSec {
  width: 290px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}
.iCl-1 {
  background: #ff504b;
}
.iCl-2 {
  background: #309ca1;
}
.iCl-3 {
  background: #3ccc45;
}
.fa-8x {
  color: #fff;
}
.fa-8x:hover {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-shadow: 1px 1px 2px #000, 0 0 25px #00f, 0 0 5px #00008b;
  -webkit-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  transform: translate(0, -5px);
}
.caracteristica {
  padding: 20px;
}
.primera_linea {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1000px) {
  .Item-Nous {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-justify {
    width: 90%;
    margin: auto;
  }
}
#portafolio {
  height: 100vh;
}
.foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.foto .texto h2 {
  color: #00f;
}
.fotos .foto .thumb img {
  width: 100%;
  vertical-align: top;
}
.fotos .foto .texto {
  line-height: 25px;
  padding: 15px;
}
.fotos .foto .texto .derecha {
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer {
  background: #3c4045;
  margin: auto;
  width: 100%;
}
.footer .titulo-section {
  text-align: center;
  padding-top: 30px;
}
.footer .contaliner {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 30px;
}
.footer .contaliner .contacto {
  padding: 20px;
}
.footer .contaliner .direccion {
  padding: 20px;
}
.footer .copyright {
  background: #000;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .copyright p {
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
