* {
  margin: 0;
  border: 0;
}
body {
  font-size: 16px;
  font-family: 'roboto';
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  width: 100%;
}
header nav {
  width: 100%;
  background: #55b6ba;
  position: fixed;
  z-index: 1;
}
header nav ul {
  list-style: none;
}
.burguerbtn {
  display: none;
}
.logo-link-r img {
  width: 100px;
  padding: 13px 30px 0px 15px;
}
header nav ul li {
  display: inline-block;
  position: relative;
}
header nav ul li:hover {
  background: #309ca1;
}
header nav ul li a {
  color: #fff;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}
header nav ul li i {
  margin-right: 10px;
}
.active {
  background: #309ca1;
}
header nav ul {
  float: right;
}
header nav ul li .children {
  display: none;
  background: #55b6ba;
  position: absolute;
  padding-left: 0;
  background: #011836;
}
header nav ul li:hover .children {
  display: block;
}
header nav ul li .children li {
  display: block;
}
header nav ul li .children li a {
  display: block;
}
header nav ul li .fa-angle-down {
  margin-left: 15px;
}
@media only screen and (max-width: 1000px) {
  header nav {
    width: 60%;
    height: 100%;
    position: fixed;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    left: -100%;
    margin-top: 72px;
    overflow: scroll;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  header nav ul {
    float: none;
    background: #55b6ba;
  }
  .logo-link-r {
    display: none;
  }
  .list-menu {
    padding-left: 0;
  }
  .burguerbtn {
    display: block;
    width: 100%;
    background: #55b6ba;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }
  .activeM {
    visibility: hidden;
    position: absolute;
  }
  .burguerbtn .fa-bars {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 2em;
  }
  .burguerbtn .fa-times {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 2em;
  }
  .logo-link img {
    width: 100px;
    padding: 8px 0 0 10px;
  }
  header nav ul li:hover .children {
    display: none;
  }
  header nav ul li .children {
    width: 100%;
    position: relative;
  }
}
.header {
  width: 100%;
  height: 100%;
  background-image: url("../img/small_stepsB.png");
  text-align: center;
}
.imgCover {
  margin-top: 100px;
  width: 80%;
}
.txtCover {
  text-align: center;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main {
  margin: auto;
  width: 100%;
  max-width: 1140px;
}
.container {
  padding-top: 90px;
  padding-bottom: 90px;
}
.titulo-section {
  text-transform: uppercase;
  font-size: 2em;
  padding-bottom: 25px;
  color: #3ccc45;
}
.desC p {
  width: 95%;
  margin: auto;
}
.text-justify {
  text-align: justify;
  line-height: 30px;
}
.text-center {
  text-align: center;
}
.text-justify {
  color: #646469;
}
.Item-Nous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iconSec {
  width: 290px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}
.iCl-1 {
  background: #ff504b;
}
.iCl-2 {
  background: #309ca1;
}
.iCl-3 {
  background: #3ccc45;
}
.fa-8x {
  color: #fff;
}
.fa-8x:hover {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-shadow: 1px 1px 2px #000, 0 0 25px #00f, 0 0 5px #00008b;
}
.caracteristica {
  padding: 20px;
}
.primera_linea {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #4462ac;
}
@media only screen and (max-width: 1000px) {
  .Item-Nous {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-justify {
    width: 90%;
    margin: auto;
  }
}
.foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.foto .texto h2 {
  color: subTitulo;
  padding-bottom: 2%;
}
.fotos .foto .thumb img {
  width: 100%;
  vertical-align: top;
}
.fotos .foto .texto {
  line-height: 30px;
  padding: 75px;
}
.fotos .foto .texto .derecha {
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fotos .foto .texto {
    padding: 10px;
    text-align: justify;
  }
  .fotos .foto .texto .derecha {
    padding: 10px;
    text-align: justify;
  }
}
.Srv .container .row {
  background-image: url("../img/main-header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.Srv .container .row .col {
  width: 100%;
  height: 250px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Srv .container .row .col h4 {
  font-size: 32px;
  text-transform: uppercase;
}
.Srv .container .row .col p {
  font-size: 24px;
}
.productos {
  height: 100%;
  width: 100%;
}
.productos .row {
  padding: 15px;
}
.decP {
  margin-bottom: 30px;
}
.productos .container .titulo-section {
  text-align: center;
}
.productos .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.productos .container .imgBox .text-box {
  width: 550px;
  height: 250px;
  background: #c3c3c3;
  padding: 10px 90px 10px 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.productos .container .imgBox .text-box h2 {
  margin-top: 70px;
  text-align: right;
  padding-bottom: 3%;
}
.productos .container .imgBox .text-box p {
  margin: 0;
  line-height: 25px;
  text-align: right;
}
.productos .container .imgBox .img-box i {
  width: 230px;
  height: 230px;
  background: #c3c3c3;
  position: relative;
  margin: auto;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px 5px #888;
  box-shadow: 3px 3px 20px 5px #888;
}
.productos .container .derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.productos .container .derecha .img-box i {
  width: 230px;
  height: 230px;
  background: #c3c3c3;
  position: relative;
  margin: auto;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px 5px #888;
  box-shadow: 3px 3px 20px 5px #888;
}
.productos .container .derecha .text-box h2 {
  margin-top: 70px;
  text-align: left;
}
.productos .container .derecha .text-box p {
  margin: 0;
  line-height: 25px;
  text-align: left;
}
.productos .container .derecha .text-box {
  width: 550px;
  height: 250px;
  background: #c3c3c3;
  padding: 10px 20px 10px 90px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.azul {
  color: #309ca1;
}
.rojo {
  color: #ff504b;
}
.parrafo {
  color: #646469;
}
@media only screen and (max-width: 1000px) {
  .productos {
    width: 100%;
    overflow: hidden;
  }
  .productos .container .imgBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
  }
  .productos .container .imgBox .text-box {
    height: 100%;
    width: 200px;
    padding: 30px;
  }
  .productos .container .imgBox .text-box h2 {
    text-align: left;
    margin-top: 0px;
  }
  .productos .container .imgBox .text-box p {
    text-align: left;
    margin-bottom: 30px;
  }
  .productos .container .imgBox .img-box i {
    right: 0;
    top: -25px;
  }
  .productos .container .derecha .img-box i {
    left: 0;
  }
}
.footer {
  background: #3c4045;
  width: 100%;
}
.footer .titulo-section {
  text-align: center;
  padding-top: 80px;
  color: #f2f2f2;
}
.footer .contaliner {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 30px;
}
.footer .contaliner .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer .contaliner .direccion p {
  font-family: 'roboto', system-ui;
  font-size: 1em;
  color: #f2f2f2;
  line-height: 80px;
}
.footer .contaliner .direccion i {
  padding-right: 15px;
}
.footer .contaliner .direccion {
  width: 60%;
}
form {
  width: 60%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
label {
  font-size: 12px;
  display: none;
  width: 100%;
}
input,
textarea {
  font-family: 'roboto', system-ui;
  font-size: 1em;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #c3c3c3;
}
::-webkit-input-placeholder {
  color: #f2f2f2;
}
:-ms-input-placeholder {
  color: #f2f2f2;
}
::-ms-input-placeholder {
  color: #f2f2f2;
}
::placeholder {
  color: #f2f2f2;
}
textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
input:focus,
textarea:focus {
  border: 1px solid #38506a;
}
input[type="submit"] {
  width: 130px;
  margin-bottom: 1px;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: #015e62;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #38506a;
  cursor: pointer;
  color: #000;
}
.footer .copyright {
  background: #000;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .copyright p {
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .contaliner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer .contaliner .direccion p {
    line-height: 40px;
  }
}
.bodyToy {
  background-image: url("../img/textura.png");
  background-repeat: repeat;
}
.headerJ {
  background-image: url("../img/dust_scratches.png");
}
.imgJ {
  margin-bottom: 70px;
}
.tituloToys {
  text-transform: uppercase;
  color: #ff504b;
  font-family: 'roboto';
  font-size: 32px;
  margin-top: 32px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
}
.card {
  background: #f2f2f2;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgba(255,255,255,0.3);
  width: 330px;
  border-bottom: 5px solid #309ca1;
}
.card img {
  width: 100%;
}
.card img:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .con {
  padding: 2px 16px;
}
.card .con h4 {
  font-family: 'roboto';
  font-size: 24px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #4462ac;
}
.card .con p {
  padding-bottom: 15px;
  color: #646469;
}
@media only screen and (max-width: 1000px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card {
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .tituloToys {
    text-align: center;
  }
}
