*{
    margin: 0
    border: 0
}
body{
    font-size: 16px
    font-family: 'roboto'
    // background-color: #f2f2f2
}
@import "../lib/_varProP.styl"
@import "../lib/_mixins.styl"
@import "../lib/_mixins-responsive.styl"
@import "../lib/_menu-bar.styl"
@import "../lib/_sections.styl"        
    
// Start Header -------------------------------  
// .header{
//     background-color: blue
//     height 100%
//     }   
// .test{
//     padding-top: 250px
//     padding-left: 80px
//     padding-right: 80px
//     text-align: center
//     font-size: titulo_secundario
//     }
// End Header ---------------------------------

// secciones de prueva
// #portafolio {
//     background-color: paleta
//     height: 100vh
//     width: 100%
// }
// #contact {
//     background-color: rgb(154, 45, 45);
//     height: 100vh;
//     width: 100%;
// }

// End secc pruevas

// .footer {
// 	background-color: black;
// 	color: white;
// 	text-align: center;
// 	padding: 15px;
// 	display: flex;
// 	justify-content: space-around;
// }
// .develop {
// 	font-size: 12px;
// }
// .develop a{
// 	color: rgb(138, 138, 138);
// 	text-decoration: none;
// }            
// End Sections -------------------------------
