// Start Master Menu ---------------------------------
header {
    width 100%
}
header nav{
    width: 100%
    background: nav-bar
    position: fixed
    z-index: 1
}
header nav ul{
	list-style: none
}
.burguerbtn{
    display: none
    }
.logo-link-r img{
    width 100px
    padding: 13px 30px 0px 15px
}
header nav ul li{
    // float: left //como hay un menu desplegable se usa inline-block
    display: inline-block
    position: relative
}
header nav ul li:hover{
    background: linkHover
}
header nav ul li a{
    color: linkColor
    display: block
    padding: 20px
    text-decoration: none
    font-family: 'Roboto', sans-serif 
    text-transform: uppercase
    line-height: 40px
}
header nav ul li i{
    margin-right: 10px
}
.active{
    background: linkHover
}
header nav ul{
    float: right 
}
header nav ul li .children{
    display: none
    background: nav-bar
    position: absolute
    padding-left: 0
    background: #011836
}
header nav ul li:hover .children{
    display: block
}
header nav ul li .children li{
    display: block
    // overflow: hidden
}
header nav ul li .children li a{
    display: block
}
header nav ul li .fa-angle-down{
    margin-left: 15px
}
// Start Menu responsive
@media wMenu
    header nav
        width 60%
        height: 100% 
        position: fixed
        transition: 300ms
        left: -100%
        margin-top: 72px
        overflow: scroll
    header nav ul li
        display: block
        float: none
        border-bottom: 1px solid rgba(255, 255,255, 0.3)
    header nav ul
        float: none
        background: nav-bar
    .logo-link-r
        display: none    
    .list-menu
        padding-left: 0  
    .burguerbtn
        display: block
        width: 100%
        background: nav-bar
        display: flex
        justify-content: space-between
        position: fixed
        z-index 2 
    .burguerbtn .fa-bars
        display: block
        padding: 20px
        color: linkColor 
        font-size: 2em
    .logo-link img
        width 100px  
        padding: 8px 0 0 10px
    header nav ul li:hover .children
        display: none      
    header nav ul li .children
        width: 100%
        position: relative
                  
// End Menu responsive
// Menu Master End ------------------------------------