.header{
    // background-image: url("img/img_fjords_wide.jpg")
    // margin-top: 70px
    // background-size: cover
    width 100%
    height 100%
    background paleta
    text-align: center
    }
.header .fa-recycle{
    line-height: 500px
    color: white
    font-size: 200px
    }    
.txtCover{
    text-align: center
    color: white
    // line-height: 50px
    text-transform: uppercase
    }
.container{
    padding: 70px
    }
.acerca{
    padding-top: 50px
    padding-bottom: 150px

    }
.titulo{
    padding-top: 50px
    padding-bottom: 50px
       } 
.aaa{
    display: flex
    justify-content: center
    }
.containera{
    display: flex
    justify-content: center
    } 
.rowa{
    display: flex
    justify-content: center
    }    
.col-md-12{
    // width: 80%
    }
// .main .fotos {
//     margin-bottom: 70px 
//         }
// .main .fotos .foto {
//     margin-bottom: 20px 
//         }
// .main .fotos .foto .thumb img {
//     border-radius: 3px
//     width: 100%
//     vertical-align: top 
//         }
// .main .fotos .foto .titulo {
//     margin-top: 70px
//     margin-bottom: 40px
//     font-size: 32px
//     line-height: 32px
//     font-weight: 300 
//     }
// .main .fotos .foto .titulo.azul {
//     color: #4facd3 
//     }
// .main .fotos .foto .titulo.naranja {
//     color: #ddb146 
//     }
// .main .fotos .foto .parrafo {
//     line-height: 28px
//     }
// .main .fotos .foto .derecha {
//     text-align: right
//     }
