.header{
    width 100%
    height 100%
    background paleta
    text-align: center
    }
.imgCover{
    margin-top: 100px
    width 80%
    }    
.txtCover{
    text-align: center
    color: white
    font-size: 40px
    text-transform: uppercase
    padding-top: 30px
    padding-bottom: 30px
    }
 //--------------------------------------------- 
.main{
    margin: auto
    width 100%
    max-width 1140px
    }
.container{
    padding-top: 90px
    padding-bottom: 90px
    // border: 1px solid black
    // background: blue
    }   
.titulo-section{
    text-transform: uppercase
    font-size: 2em
    padding-bottom: 25px
    }
.desC{
    width 95%
    margin: auto
    }          
.text-justify{
    text-align: justify
    line-height: 25px
    }        
.text-center{
    text-align: center
    }
.Item-Nous{
    display: flex
    } 
.iconSec{
    width 290px
    height 260px
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    border-radius: 10px
    }
.iCl-1{
    background: #FF504B 
    }
.iCl-2{
    background: #309CA1
    }
.iCl-3{
    background: #3CCC45
    }
.fa-8x{
    color: white
    }                      
.caracteristica{
    padding 20px
    } 
.primera_linea{
    padding-top: 20px
    padding-bottom: 20px
    }
@media wMenu
    .Item-Nous
        display: flex
        flex-direction: column
    .text-justify
        width 90%
        margin: auto    
// ---------------------------------------
#portafolio{
    height 100vh
    }
.foto{
    display: flex
    flex-direction: row
    align-items: center
    }
.foto .texto h2{
    color: blue
    }   
.fotos .foto .thumb img{
    width: 100%
    vertical-align: top
    }
.fotos .foto .texto{
    line-height: 25px
    padding: 15px
    }
.fotos .foto .texto .derecha{
    text-align: right 
    }             
@media wMenu
    .foto
        display: flex
        flex-direction: column

.footer{
    background: footerColor
    margin: auto
    width 100%
    }
.footer .titulo-section{
    text-align: center
    padding-top: 30px
    }      
.footer .contaliner{
    width 90%
    margin: auto
    display: flex
    flex-direction: row
    padding-bottom: 30px
    }    
.footer .contaliner .contacto{
    padding: 20px
    } 
.footer .contaliner .direccion{
    padding: 20px
    }             
.footer .copyright{
    background: black
    height 50px
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    }  
.footer .copyright p{
    color white
    }      
@media wMenu   
    .footer .copyright
        display: flex
        flex-direction: column