fuente_articulo = 1em
titulo_secundario = 2em
main_color = #ADADAD 
linkColor = white
hijos = peru 
menu-hover = blue
paleta = #5780a4
mw = "only screen and (max-width: 768px)"
linkHover = #83E0D3
nav-bar = #9CA6A5