fuente_articulo = 1em
titulo_secundario = 2em
main_color = #04777C 
linkColor = white
hijos = peru 
menu-hover = blue
paleta = #015E62
mw = "only screen and (max-width: 768px)"
wMenu = "only screen and (max-width: 1000px)"
linkHover = #309CA1
nav-bar = #55B6BA 
footerColor = #3c4045